/* css reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets the background color to off white */
body {
    background-color: #95a9ac;
    font-family: 'Nunito', sans-serif;
}

/* sets font family, backgorund color, and font color */
header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: #153c47;
    color: #153c47;
}

/* sets text to top of the page and sets font size */
h1 {
    width: 420px;
    padding-right: 20px;
    text-align: right;
    display: inline-block;
    font-size: 48px;
    background-color: #c0aaaa;
}

/* defines margins of header, and sets font family and font size */
nav {
    float: right;
    font-size: 16px;
    color: #153c47;
}

/* removes dots from header list  */
#no-dots {
    list-style-type: none;
    padding-right: 60px;
}

/* defines top header */
.nav-list {
    width: 95px;
    height: 34px;
    display: inline-block;
    border-bottom: 3px solid #c0aaaa;
    text-align: center;
}

/* sets color, adds padding, removes any text decoration  */
.hyperlink-fix {
    color: #c0aaaa;
    text-decoration: none;
    padding-bottom: 4px;
}

/* sets main image size, margin, and postion */
.banner {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    height: 200px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url("./assets/rubybeach.jpg") ;
    background-size: cover;
    background-position: center;
}

/* defines subtitle box */
.subtitle {
    display: inline;
    font-size: x-large;
    font-weight: 999;
    background-color: #c0aaaa;
    color: #153c47;
    height: 40%;
    width: 25%;
    padding: 25px 10px 10px 10px;
    margin-right: 60px;
    margin-bottom: 12px;
    text-align: center;
}

section {
    display: inline-flex;
    
}

h2 {
    width: 50%
}

.workbox {
height: 200px;
width: 600px;
padding: 20px;
}

#surf {
background-image: url("./assets/surf-report.jpg");

}

#led {
background-image: url("./assets/led-wall.jpeg");
}

#cal {
background-image: url("./assets/Calculator.jpg");
}

#pastel {
background-image: url("./assets/pastel-pretzels.png");
}

#run {
background-image: url("./assets/run-buddy.jpg");
}


.footcontacts {
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* defines top header */
.contact-options {
    display: inline-block;
    margin-left: 100px;
    width: 260px;
    height: 40px;
    border-bottom: 2px solid #153c47;
    text-align: center;
}

/* sets color and removes any text decoration  */
.contact {
    color: #153c47;
    text-decoration: none;
    padding-bottom: 4px;
}